{% extends 'base.html' %}

{% block content %}
  <h2>Bienvenido, {{ user.get_full_name() }} </h2>
  <p>Te registraste como: {{ user.profile_type() }}</p>
  <p>Datos cargados:</p>
  {% if user.is_empresa() %}
    <p>CUIT: {{ user.profile().cuit }}</p>
  {% endif %}
  {% if user.is_desocupado() %}
    <p>DNI: {{ user.profile().dni }}</p>
	<p>Nombre: {{ user.profile().nombre }}</p>
	<p>Apellido: {{ user.profile().apellido }}</p>
	<p>Fecha de nacimiento: {{ user.profile().fecha_nacimiento }}</p>
	<p>Localidad: {{ user.profile().localidad }}</p>
	<p>Habilidades: {{ user.profile().habilidades }} </p>
	<p>Formacion: {{ user.profile().formacion }} </p>
	<p>Trabajo Realizable: {{ user.profile().trabajo_realizable }} </p>
  {% endif %}

   <p>Ir a modificar tu cuenta <a href="{% if user.is_empresa %} modificar_empresa {% elif user.is_desocupado %} modificar_desocupado {% endif %}">Modificar cuenta</a></p>
	<p>Ir a borrar cuenta <a href="{{ url('borrar_cuenta') }}">Borrar cuenta</a></p>
{% endblock %}
